<!DOCTYPE html>
<html>
  <head>
    <title>your title here</title>
  </head>
  </style>
  <body>
      <form action="/">
        <input type="text" name="task" autofocus="true">
        <input style="width: 80px" type="submit" value="Crear">
        <p>{{ message }}</p>
      </form><br>
      <table border="1" height="20">
        <tr>
          <td>Valor</td>
          <td>Marcado como realizado</td>
          <td>Opciones</td>
        </tr>
        {% for task in tasks %}
          {% if task[1] %}
            {% set val="underline" %}
          {% else %}
            {% set val="none" %}
          {% endif %}
          <tr>
            <td style="text-decoration:{{ val }}" width="120">{{ task[0] }}</td>
            <td width="100">{{ task[1] }}</td>
            <td>
              <form>
                <button style="width: 80px" type="submit" formaction="/realized/{{ loop.index0 }}" formmethod="get">Realizado</button>
                <button style="width: 80px" type="submit" formaction="/task/{{ loop.index0 }}" formmethod="get">Eliminar</button>
              </form>
            </td>
          </tr>       
        {% endfor %}
      </table>
  </body>
</html>
